.list-message {
  padding: 24px;
  overflow-y: auto;

  .message-box {
    margin: 10px 0;

    .message-content {
      min-width: 100px;
      max-width: 80%;
      width: fit-content;
      border-radius: 18px;
      word-wrap: break-word;
      white-space: pre-line;
      padding: 12px 16px;
    }

    &.is-coming > .message-content {
      background-color: #e4e6eb;
    }

    &.is-going > .message-content {
      background-color: rgb(0, 132, 255);
      color: #ffffff;
      margin-left: auto;

      &:after {
        content: '';
        clear: both;
      }
    }
  }
}
