.chat-box {
  width: 500px;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid rgb(235, 238, 240);
  padding: 12px 0;
  display: flex;
  flex-direction: column;

  .list-message {
    flex: 1;
  }
}
